<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Dalbergia Realty Servicies</title>
  </head>
  <body id="aboutBody">
    <a href="index.html"><img src="re_logo.jpg" alt="logo" width="70" height="50"></a>

    <div id="aboutDiv1">
      <h3>About Us</h3>
    </div>
    <nav>
      <h1 id="goUp"></h1>
      <ul>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="review.html">Review</a></li>
        <li><a href="team.html">Team</a></li>
      </ul>
    </nav>
  <!-- <section>
    <div id="aboutDivSection1">
      <h3>
        Our Partners and Investors
      </h3>
      <div><img src="V_SBS_cab_rgb.svg" alt="bhhs' logo">Berkshire Hathaway Home Services</div>

      <div><img src="kw.webp" alt="kw's logo">Keller Williams</div>

      <div><img src="sri.svg" alt="Sotheby's logo">Sotheby's International Realty</div>
    </div>
  </section> -->

  <section>
    <h3 style="text-align: center;">
      Our Partners and Investors
    </h3>
    <div class="aboutGridContainer">
    
      <div class="aGrid">
        <a href="https://www.bhhs.com"><img src="V_SBS_cab_rgb.svg" alt="bhhs' logo"><br> Berkshire Hathaway Home Services</a>
      </div>
      <div class="aGrid">
        <a href="https://www.kw.com"><img src="kw.webp" alt="kw's logo"><br> Keller Williams</a>
      </div>
      <div class="aGrid">
        <a href="https://www.sothebysrealty.com"><img src="sri.svg" alt="Sotheby's logo"><br> Sotheby's International Realty</a>
      </div>
    
    </div>
  </section>

  <section>
    <div>
      <h3 style="text-align: center;">
        Who you are in business with matters.
      </h3>
      <p style="text-align: center;">
        We believe that the company we keep can contribute to our lives in untold ways. <br> 
        To help cement this understanding, we’ve formalized a belief system called the WI4C2TES that guides how we treat each other and how we do business.
      </p>
    </div>
    <div style="text-align: center;">
      <div>
        <h4 >
          Our Mission
        </h4>
        <p>To build careers worth having, businesses worth owning, lives worth living, experiences worth giving, and legacies worth leaving.</p>
      </div>
      <div>
        <h4>
          Our Vision
        </h4>
        <p>
          To be the real estate company of choice for agents and their customers.
        </p>
      </div>
    </div>
  </section>
  <br>
  <h4 style="text-align: center;">
    Credit for the above write-up: <a style="text-decoration: none;" href="https://headquarters.kw.com/about-us/">Keller Williams.com</a>
  </h4>

  <section style="text-align: center;">
    <div>
      <H2>
        Awards and Honours
      </H2>
      <h3>Here is the list of awards and honors Dalbergia Realty Services has received since 2017.</h3>
      <h3>2018</h3>
      <p style="text-align: left;">
        <b>Inc Magazine</b> – Best Workplace for 2018 <br>
        <b>Inman Connect</b> – Dalbergia Wins 2018 Inman Innovator Award for Most Innovative Real Estate Technology <br>
        <b>REAL Trends</b> – 7 Dalbergia real estate agent teams featured on “The Thousand” ranking list.
      </p>

      <h3>2017</h3>
      <p style="text-align: left;">
        <b>Training Magazine</b> – Named Top Training Company Across All Industries Worldwide <br>
        <b>Forbes Magazine</b> – 3rd Happiest Place To Work In US
      </p>
    </div>
    <h1>Credit for this: <a style="text-decoration: none;" href="https://www.youdrivethesuccess.com/keller-williams-awards/">Click here</a></h1>
  </section>
  
  <a href="index.html">Back to Home page</a>
  </body>
  <footer style="text-align: center;">
    &COPY; 2020, Dalbergia Realty Services
</footer>
</html>
