<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" text="text/css" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery - Dalbergia Realty Servicies</title>
</head>
<body id="indexBody">
    <h1 id="goUp"></h1>
    <a href="index.html"><img src="re_logo.jpg" alt="logo" width="70" height="50"></a>
    
    <nav>
        
  
        <ul>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="review.html">Review</a></li>
          <li><a href="team.html">Team</a></li>
        </ul>
      </nav>

    <h2 style="color: rgb(95, 94, 94);">
        Find your dream home with us.
    </h2>
    <h3 style="color: gray;">
        Explore the Dalbergia gallery.
    </h3>
       <section id="gallerySelection">
        <div class="container">
            <img src="re8.jpg" alt="1st test" style="width:100%" class="image">
            <div class="overlay">
                <div class="text"><a href="mailto:ktsengretsi@gmail.com?subject=Buy a Home">Buy a Home</a></div>
            </div>
        </div>
        <div class="container">
            <img src="re12.jpg" alt="1st test" style="width:100%" class="image">
            <div class="overlay">
                <div class="text"><a href="mailto:ktsengretsi@gmail.com?subject=Rent a Home">Rent a Home</a></div>
            </div>
        </div>
        <div class="container">
            <img src="re10.jpg" alt="1st test" style="width:100%" class="image">
            <div class="overlay">
                <div class="text"><a href="mailto:ktsengretsi@gmail.com?subject=Sell a Home">Sell a Home</a></div>
            </div>
        </div>
       </section>
    
    <a href="#goUp">Click to go to the top of the page</a> 
    <br>  
    <a href="index.html" style="font-size: larger;" >Back to Home page</a>
</body>
<footer style="text-align: center;">
    &COPY; 2020, Dalbergia Realty Services
</footer>
</html>
