<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-color: rgb(242, 242, 242);
        color: rgb(131, 109, 72);
      }
    </style>
    <link rel="stylesheet" href="style.css" text="text/css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team - Dalbergia Realty Servicies</title>
  </head>
  <body>
    <h1 id="goUp"></h1>
    <nav>
      
      <a href="index.html"><img src="re_logo.jpg" alt="logo" width="70" height="50"></a>

      <ul>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="review.html">Review</a></li>
        <li><a href="team.html">Team</a></li>
      </ul>
    </nav>

    <h3 style="text-align: center;">
      Dalbergia Realty Services consists of a highly experienced team of talented hospitality professionals to lead its development
    </h3>
    <h2 style="text-align: center;">Our Team</h2>
    <div id="divGrid">
      <div class="profileCard">
        <img src="ceo1.jpg" alt="Founder" />
        <h4>Sonia Cheng</h4>
        <h5>Founder</h5>
      </div>

      <div class="profileCard">
        <img src="vp_engi.jpg" alt="CEO" />
        <h4>Hakan Akgun<h4>
        <h5>Co-CEO</h5>
      </div>

      <div class="profileCard">
        <img src="vp2.jpg" alt="CEO" />
        <h4>Bede Barry</h4>
        <h5>Co-CEO</h5>
      </div>

      <div class="profileCard">
        <img src="prez.jpg" alt="CEO" />
        <h4>Radha Arora</h4>
        <h5>President</h5>
      </div>

      <div class="profileCard">
        <img src="vp.jpg" alt="VP" />
        <h4>Achim lenders</h4>
        <h5>Group VP</h5>
      </div>

      <div class="profileCard">
        <img src="cfo.jpg" alt="CFO" />
        <h4>Joe Chang</h4>
        <h5>CFO</h5>
      </div>
    </div>
    <h2>Credit for this: <a style="text-decoration: none;" href="https://www.rosewoodhotelgroup.com/en-us/the-group/our-team">Rosewood Hotels</a> </h2>
    <br><br>
    <a href="index.html">Back to Home page</a> 
  </body>
  <footer style="text-align: center;">
    &COPY; 2020, Dalbergia Realty Services
</footer>
</html>
